nltk
sense2vec
sentence_transformers
stanza
openai
scipy
datasets
networkx
tqdm
termcolor
pytorch-lightning
flashtext
git+https://github.com/boudinfl/pke.git
sacremoses
youtube_transcript_api
youtube-search-python
git+https://github.com/openai/whisper.git 
lingua-language-detector
whisper
tinytag